<li class="collection-item">
	{{burger_name}}

	<button class="btn waves-effect waves-light switch-devour" type="submit" name="action" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}Try it again?{{else}}Eat it!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
