<li>
	{{name}}

	<button class="switch-devour" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Try it again?{{else}}Eat it!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
